.folderItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 120px;
  height: 120px;
  margin: 10px;
  cursor: pointer;
  text-align: center;
  background-color: #f8f9fa; /* Light background */
  border: 1px solid #ddd; /* Light border */
  border-radius: 8px;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  -webkit-transition: -webkit-transform 0.2s ease, -webkit-box-shadow 0.2s ease;
  transition: -webkit-transform 0.2s ease, -webkit-box-shadow 0.2s ease;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  transition: transform 0.2s ease, box-shadow 0.2s ease, -webkit-transform 0.2s ease, -webkit-box-shadow 0.2s ease;
}
.folderItem:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.15);
}

.folderIcon {
  width: 60px;
  height: 60px;
  background: url("/folder.png") no-repeat center center;
  background-size: cover; /* Adjust based on your icon */
}

.folderName {
  margin-top: 8px;
  font-size: 14px;
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.deleteButton {
  border: none;
  background-color: rgb(238, 79, 79);
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}