.container {
  padding: 16px;
}

.folders, .files {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Adjust column width */
  gap: 16px; /* Space between grid items */
  margin-top: 16px;
}

.folderItem, .fileItem {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px;
  text-align: center;
  background-color: #f9f9f9;
  transition: transform 0.2s, box-shadow 0.2s;
}

.folderItem:hover, .fileItem:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.fileIcon, .folderIcon {
  width: 64px;
  height: 64px;
  margin-bottom: 8px;
  object-fit: contain;
}

.folderCreation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  width: 30vw;

  input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    outline: none;
    transition: border-color 0.3s ease;

    &:focus {
      border-color: #007bff;
      box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }

    &::placeholder {
      color: #aaa;
      font-style: italic;
    }
  }

  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;

    &:hover {
      background-color: #0056b3;
    }

    &:active {
      transform: scale(0.95);
    }

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }
}


