.meetupListing {
  padding: 20px;
}

.createEventButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.createEventButton:hover {
  background-color: #0056b3;
}

.gridContainer {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.gridItem {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 25%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  text-align: center;
}
.gridItem h3 {
  font-size: 2rem;
  margin: 5px;
}
.gridItem p {
  font-weight: bold;
  margin: 0;
}

.gridItem:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.mapContainer {
  margin-top: 10px;
}

.detailsButton {
  padding: 8px 16px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.detailsButton:hover {
  background-color: #218838;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  width: 90%;
  max-width: 600px;
  text-align: center;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.attendButton, .editButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.attendButton:hover, .editButton:hover {
  background-color: #0056b3;
}

.errorMessage {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.deleteButton {
  background-color: rgb(246, 63, 63);
  border: none;
  padding: 5px;
  color: white;
  border-radius: 5px;
}