.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modalContent {
  background-color: white;
  padding: 2rem;
  /* Make the width responsive */
  width: 90%;
  max-width: 800px; /* Adjust this value as needed */
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.questionContainer {
  margin-bottom: 2rem;
}

.questionBox {
  background-color: #1e293b;
  color: #ffffff;
  padding: 1rem;
  border-radius: 8px;
  font-size: 1.2rem;
  text-align: center;
  white-space: normal;
  word-break: break-word;
  overflow-wrap: break-word;
}

.answersContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(200px, 1fr) 1rem minmax(200px, 1fr);
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  gap: 1rem;
  margin-bottom: 1rem;
}

.answerBox {
  background-color: #007bff;
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  font-size: 1rem;
  -webkit-transition: background-color 0.2s, -webkit-transform 0.2s;
  transition: background-color 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, background-color 0.2s;
  transition: transform 0.2s, background-color 0.2s, -webkit-transform 0.2s;
  white-space: normal;
  word-break: break-word;
  overflow-wrap: break-word;
}
.answerBox:hover {
  background-color: #0056b3;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.answerBox.selectedAnswer {
  background-color: #28a745;
}

.progressBar {
  margin-top: 1rem;
  font-size: 1rem;
  color: #555;
  text-align: center;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1rem;
}

.paginationButton {
  background-color: #007bff;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.paginationButton:hover {
  background-color: #0056b3;
}
.paginationButton:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.completedMessage {
  text-align: center;
}
.completedMessage h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.completedMessage .submitButton,
.completedMessage .closeButton {
  background-color: #28a745;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin: 0.5rem;
}
.completedMessage .submitButton:hover,
.completedMessage .closeButton:hover {
  background-color: #218838;
}

.closeButtonTopRight {
  font-size: 24px;
  cursor: pointer;
  color: #000;
  float: right;
  background-color: rgb(255, 74, 74);
  color: #ffffff;
  border: none;
  border-radius: 5px;
}

.closeButtonTopRight:hover {
  background-color: rgb(215, 48, 48);
  color: #000;
}